<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fans of Fury!</title>
    <link href="//fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="@Url.Content("~/Content/omni_logo_web1.png")" alt="Omni Resources" class="navbar-brand" style="padding:5px;margin-left:50px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="http://www.omniresources.com/about">ABOUT</a></li>
                    <li><a href="http://www.omniresources.com/expertise">EXPERTISE</a></li>
                    <li><a href="http://www.omniresources.com/our-process">PROCESS</a></li>
                    <li><a href="http://www.omniresources.com/our-portfolio">PORTFOLIO</a></li>
                    <li><a href="http://www.omniresources.com/careers">CAREERS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", false)
</body>
</html>
