@model List<OmniResources.FansOfFuryPublicWeb.Data.Table.UserData>
@{
    ViewBag.Title = "Fans of Fury Scoreboard";
}

<div class="row">
    <img src="@Url.Content("~/Content/fof-scores.jpg")" class="img-responsive" alt="Fans of Fury High Scores">
</div>

@Html.Partial("_RelatedLinks", new ViewDataDictionary{ { "HideScoreboard", true } })

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].DisplayScoreboardName()</td>
                        <td>@Model[i].Score</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
